* {
    box-sizing: border-box;
}

:root {
    --font: "Sen", sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    /* font-family: "Sen", sans-serif; */
}

body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin: 0px auto;
    max-width: calc(100% - 48px);
}

/* Heading */
.heading {
    color: #171100;
    font-family: var(--font);
    font-weight: 700;
}

.heading.lv-1 {
    font-size: 5.8rem;
    line-height: 1.17241;
    letter-spacing: -1.16px;
}

.heading.lv-2 {
    font-size: 3.8rem;
    line-height: 1.26316;
    letter-spacing: -0.76px;
}
/* Desc */
.desc {
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* magrin */
.mt-22 {
    margin-top: 22px;
}

.mt-8 {
    margin-top: 8px;    
}


.btn {
    display: inline-block;
    padding: 17px 0;
    width: 144px;
    color: #fff;
    background: #171100;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.8;
}

/* Header */
.header {
    background: #fffcf4;
    padding-top: 28px;
}

header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1000;
}

.body-header {
    display: flex;
    padding: 8px 0px;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a {
    color: #5f5b53;
    font-size: 1.6rem;
}

.nav li {
    position: relative;
    margin-right: 42px;
}

.nav li::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    transition: all 0.75s ease-in-out;
}

.nav li.active::after {
    width: 100%;
}
.nav li:hover a {
    color: #171100;
    font-size: 1.6rem;
}

.nav li.active a {
    font-size: 1.6rem;
    text-shadow: 1px 0 0 #171100;
}

.action {
    margin-left: 28px;
}

/* Hero */
.hero {
    background: #fffcf4;
    padding-top: 56px;
    padding-bottom: 65px;
}

.hero-body {
    display: flex;
}

/* Hero Left */

.hero .guy-block {
    width: 48%;
    position: relative;
}

.hero .guy-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero-sumary {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-sumary .item {
    display: flex;
    align-items: center;
}

.hero-sumary .item + .item {
    margin-top: 14px;
}

.hero .icon {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
}

.hero-sumary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-sumary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-sumary .desc {
    color: #5f5b53;
    font-size: 1.4rem;
}

.hero-sumary .title {
    margin-top: 10px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Hero Right */
.content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .cta {
    display: flex;
    align-items: center;
    margin-top: 38px;
    cursor: pointer;
}
.cta .watch-video {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.cta .watch-video .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin-right: 14px;
    box-shadow: 0px 8px 16px 0px #00000012;
}

.btn-hero {
    background-color: var(--primary-color);
    min-width: 180px;
    padding: 24px 0;
    margin-right: 28px;
}

.watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.content-block .target {
    margin-top: 48px;
}

.content-block .stats {
    margin-top: 8px;
    margin-left: -28px;
}

.content-block .stats strong {
    color: #171100;
    font-family: var(--font);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.2727;
    padding-left: 28px;
    padding-right: 10px;
}

/* Popular */

.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .info .desc {
    width: 458px;
}

.popular .ctrl-btn {
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

.popular .ctrl-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.popular .ctrl-btn.prev {
    display: inline-block;
    margin-right: 18px;
}


